apiVersion : apps/v1beta1
kind: Deployment
metadata:
  name: mspreagendamiento 
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: mspreagendamiento 
    spec:
      containers:
        - name: mspreagendamiento 
          image: preagendamiento.azurecr.io/mspreagendamiento
          env:
            - name: ConnectionStrings__database
              value: "mock-error-typo-${ConnectionStrings}"
            - name: ConnectionStrings__AppConfig
              value: "${AppConfig}"
            - name: AppSettings__Env
              value: "${Env}"  
          ports:
          - containerPort: 80
          livenessProbe:
            httpGet:
              path: /HealthCheck
              port: 80
            initialDelaySeconds: 3
            periodSeconds: 3
